#!/bin/bash
sqlplus / as sysdba <<EOF
 ALTER SESSION SET PDB_FILE_NAME_CONVERT='/u02/app/oracle/oradata/ORCL/pdbseed/','/u02/app/oracle/oradata/ORCL/PDB2/';
 CREATE PLUGGABLE DATABASE PDB2 ADMIN USER pdb2 IDENTIFIED BY @database.dba.pass@;
 ALTER PLUGGABLE DATABASE PDB2 OPEN READ WRITE;
 exit;
EOF

sqlplus @database.dba.user@/@database.dba.pass@@@database.instance.1@:1521/@database.instance.pdb1.1@.@identity.domain@.oraclecloud.internal <<EOF
 create user medrec1 identified by medrec1;
 grant DBA to medrec1;
 exit;
EOF

sqlplus medrec1/medrec1@@database.instance.1@:1521/@database.instance.pdb1.1@.@identity.domain@.oraclecloud.internal <<EOF
 @/tmp/Medrec.sql
 exit;
EOF
