#heading {
  padding: 20px;
  margin-bottom: 10px;
  background: #dddddd;
  border: 1px solid #cccccc;
  font-size: 1.4em;
  font-style: italic;
  font-family: Palatino;
  right: 20px;
  text-align: center;
}

div.planetImage {
  margin-top: 10px;
  text-align: center;
}

#promptTop {
  font-size: 1.15em;
  margin-left: 5px;
  margin-bottom: 20px;
  font-family: Palatino;
  font-style: italic;
}

.explanation {
  padding: 20px;
  font-family: Palatino;
  font-style: italic;
  color: blue;
}

#prompt {
  font-size: 1.15em;
  margin-left: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Palatino;
}

#welcomeGreeting {
  font-size: 1.2em;
  font-style: italic;
}

#welcomeImage {
  margin-top: 10px;
  text-align: center;
}

#menuLeft {
  border: thin solid lightGray;
  position: absolute;
  left: 10;
  height: 86%;
  width: 200px;
  background: #eeeeee;
}

#menuRight {
  border: thin solid lightGray;
  background: #efefef;
  position: absolute;
  top: 85px;
  right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#content {
  margin-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid lightGray;
  background: #fefeef;
  position: absolute;
  left: 225px;
  right: 65px;
  top: 70px;
}

#menuAndContent {
  width: 100%;
  height: 100%;
}

.error {
  color: red;
}

.icon {
  margin: 10px;
  border: none;
}

.placeHeading {
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  float: left;
  border: thin solid lightGray;
}

.placeMap {
  border: thin solid lightGray;
  margin: 5px;
  padding: 5px;
}	