connect('@weblogic.admin.user@','@weblogic.admin.pass@','t3://@jcs.instance@-wls-1.compute-@identity.domain@.oraclecloud.internal:7001')

cd('/SecurityConfiguration/@jcs.instance@_domain/Realms/mynewrealm/AuthenticationProviders/DefaultAuthenticator/')
cmo.removeUser('administrator')

edit()

startEdit()
cd('/')
partitionBeanDP1=cmo.lookupPartition('dp1')
forceShutdownPartitionWait(partitionBeanDP1)
partitionBeanDP2=cmo.lookupPartition('dp2')
forceShutdownPartitionWait(partitionBeanDP2)
partitionBeanDP3=cmo.lookupPartition('dp3')
forceShutdownPartitionWait(partitionBeanDP3)
partitionBeanDP5=cmo.lookupPartition('dp5')
forceShutdownPartitionWait(partitionBeanDP5)
partitionBeanDP6=cmo.lookupPartition('dp6')
forceShutdownPartitionWait(partitionBeanDP6)
activate()


startEdit()
editService.getConfigurationManager().removeReferencesToBean(getMBean('/Partitions/dp1'))
cmo.destroyPartition(getMBean('/Partitions/dp1'))
editService.getConfigurationManager().removeReferencesToBean(getMBean('/Partitions/dp2'))
cmo.destroyPartition(getMBean('/Partitions/dp2'))
editService.getConfigurationManager().removeReferencesToBean(getMBean('/Partitions/dp3'))
cmo.destroyPartition(getMBean('/Partitions/dp3'))
editService.getConfigurationManager().removeReferencesToBean(getMBean('/Partitions/dp5'))
cmo.destroyPartition(getMBean('/Partitions/dp5'))
editService.getConfigurationManager().removeReferencesToBean(getMBean('/Partitions/dp6'))
cmo.destroyPartition(getMBean('/Partitions/dp6'))
activate()

startEdit()
cmo.destroyVirtualTarget(getMBean('/VirtualTargets/VT-daytrader'))
cmo.destroyVirtualTarget(getMBean('/VirtualTargets/VT-Medrec-1'))
cmo.destroyVirtualTarget(getMBean('/VirtualTargets/VT-Medrec-2'))
cmo.destroyVirtualTarget(getMBean('/VirtualTargets/VT5'))
cmo.destroyVirtualTarget(getMBean('/VirtualTargets/VT6'))
activate()

startEdit()
cd('/ResourceManagement/@jcs.instance@_domain')
cmo.destroyResourceManager(getMBean('/ResourceManagement/@jcs.instance@_domain/ResourceManagers/smallHeap'))
activate()

startEdit()
cd('/SecurityConfiguration/@jcs.instance@_domain')
cmo.destroyRealm(getMBean('/SecurityConfiguration/@jcs.instance@_domain/Realms/mynewrealm'))
activate()


disconnect()
