#!/bin/sh 

cd $DOMAIN_HOME/bin
. ./setDomainEnv.sh

export JVM_ARGS="-Dweblogic.security.TrustKeyStore=DemoTrust -Dweblogic.security.SSL.ignoreHostnameVerification=true -Dweblogic.security.SSL.minimumProtocolVersion=TLSv1"
export ADMIN_URL="t3s://@jcs.instance@-wls-1.compute-@identity.domain@.oraclecloud.internal:7200"
export WEBLOGIC_USER="@weblogic.admin.user@"
export WEBLOGIC_PASS="@weblogic.admin.pass@"


${JAVA_HOME}/bin/java ${JVM_ARGS} weblogic.Deployer -adminurl ${ADMIN_URL} -user ${WEBLOGIC_USER} -password ${WEBLOGIC_PASS} -adminmode -name aussie-tripper-v1 -deploy /tmp/aussie-tripper-v2.ear -appversion v2

