<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

  <servlet>
    <servlet-name>VerySlowJSP</servlet-name>
    <jsp-file>veryslow.jsp</jsp-file>
    <init-param>
      <param-name>wl-dispatch-policy</param-name>
      <param-value>myCustomWorkManager</param-value>
    </init-param>
  </servlet>

  <error-page>
    <error-code>503</error-code>
    <location>/503error.html</location>
  </error-page>
</web-app>
