BODY, P, LI, UL, OL {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 97%;
	color:#000000;
	list-style-position: outside;
}

A:link {
	font-family: Arial, Helvetica, sans-serif;
	color:#663300;
	
}

A:active {
	font-family: Arial, Helvetica, sans-serif;
	color:#ff6600;
	
}

A:visited {
	font-family: Arial, Helvetica, sans-serif;
	color:#996633;
	
}

A.navigation:link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:65%; 
	color:#996633;
}

A.navigation:active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:65%; 
	color:#996633;
}

A.navigation:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:65%; 
	color:#996633;
}

p.listpara
{text-indent: 15%}

H1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:170%;
	color:#336699;
	border : solid #CCCC99;
	width : 100%;
	border-width : 0px 0px 2px 0px; 
}

H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:130%;
	color:#336699;
	border : solid #cccc99;
	border-width : 0px 0px 2px 0px;
	width : 100%;
}

H3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:110%;
	color:#336699;
	width : 100%; 
}

H4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:92%;
	color:#000000;
      font-weight: bold;
	width : 100%;
}

.code_no_color {
        color : #000000;
	font-family : "Courier New", "Courier", "monospace";
}

code {  
	color : #336699;
	font-family : "Courier New", "Courier", "monospace";
}

P.indent {
	text-indent: 9%;
}

table.borders {
	border : 1pt solid #BDB76B;
}

TR {
	text-align : left;
	vertical-align : top;
}

TH {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color:#000000;
	font-weight: bold;
}

TD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color:#000000;
}

.smalltext {
	font-size:80%;
}

p.note { 
    display: block; 
    font-family: Arial, Helvetica, Geneva, sans-serif; 
    font-size: 95%;
}

p.warning { 
    display: block;
    font-family: Arial, Helvetica, Geneva, sans-serif; 
    font-size: 95%;
}

pre { 
    font-family: "Courier New", Courier, mono; 
    font-size: 92%;
    text-indent : 15%;
}

.GUITag {
    font-family: Arial, Helvetica, Geneva, sans-serif; 
    font-size: 95%; 
    font-weight: bold; 
    font-style: normal;
}

.PropertyName {
    font-family: "Courier New", Courier, mono; 
    font-style: normal;
}

.GlossaryItem { 
    color : #008080; 
    font-family: Arial, Helvetica, sans-serif;
    font-size : 95%;
}
