
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/images/oraclexe-stopdatabase.png
Name[en_US]=12c Database Stop
Exec=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/bin/stopDatabase.sh wait
Name=Stop 12c Database
Icon=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/images/oraclexe-stopdatabase.png
