
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/images/oraclexe-startdatabase.png
Name[en_US]=12c Database Start
Exec=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/bin/startDatabase.sh wait
Name=Start 12c Database
Icon=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/images/oraclexe-startdatabase.png
