#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Link
Icon[en_US]=gnome-panel-launcher
URL=file:///u01/content/weblogic-innovation-seminars/WInS_Demos/doc/GettingStarted.html
Name[en_US]=Getting Started
Name=Getting Started
Icon=gnome-panel-launcher
