#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=/u01/wls1212/jdeveloper/jdev/bin/jdev_icon.gif
Exec=/u01/wls1212/jdeveloper/jdev/bin
Name[en_US]=JDeveloper 12c
Name=JDeveloper 12c
Icon=/u01/wls1212/jdeveloper/jdev/bin/jdev_icon.gif
