[Desktop Entry]
Encoding=UTF-8
Name=NetBeans IDE 7.3.1
Comment=The Smarter Way to Code
Exec=/bin/sh "/u01/netbeans-7.3.1/bin/netbeans"
Icon=/u01/netbeans-7.3.1/nb/netbeans.png
Categories=Application;Development;Java;IDE
Version=1.0
Type=Application
Terminal=0

