#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=SQL Developer
Comment=Oracle SQL Developer
Icon=/opt/sqldeveloper/icon.png
Exec=sqldeveloper
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.15
Categories=Development;Application;X-Red-Hat-Extra;
