
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Oracle Proxy ON
Exec=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/bin/setOracleProxy.sh wait
Name=Set Oracle Proxy
Icon=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/images/oracle-o.jpg
