#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=SQL Developer
Comment=Oracle SQL Developer
Icon=/u01/app/oracle/product/12.1.0/dbhome_1/sqldeveloper/icon.png
Exec=/u01/app/oracle/product/12.1.0/dbhome_1/sqldeveloper/sqldeveloper.sh
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.15
Categories=Development;Application;X-Red-Hat-Extra;
