
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/images/oraclexe-startdatabase.png
Name[en_US]=Start PDB2 database
Exec=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/bin/startPDB2Database.sh wait
Name=Start PDB2 Database
Icon=/u01/content/weblogic-innovation-seminars/WInS_Demos/control/images/pdb_start.png
